config:
  max_open_trades: -1
  stake_currency: BTC
  stake_amount: 1
  tradable_balance_ratio: 0.99
  fiat_display_currency: USD
  timeframe: 5m
  dry_run: true
  cancel_open_orders_on_exit: false
  unfilledtimeout:
    buy: 10
    sell: 30
  bid_strategy:
    price_side: bid
    ask_last_balance: 0
    use_order_book: false
    order_book_top: 1
    check_depth_of_market:
      enabled: false
      bids_to_ask_delta: 1
  ask_strategy:
    price_side: ask
    use_order_book: false
    order_book_min: 1
    order_book_max: 1
    use_sell_signal: true
    sell_profit_only: false
    ignore_roi_if_buy_signal: false
  download_trades: false
  exchange:
    name: kraken
    key: ''
    secret: ''
    ccxt_config:
      enableRateLimit: true
      rateLimit: 3100
    ccxt_async_config:
      enableRateLimit: true
      rateLimit: 3100
    pair_whitelist:
    - .*/BTC
    pair_blacklist: []
  pairlists:
  - method: StaticPairList
  edge:
    enabled: false
    process_throttle_secs: 3600
    calculate_since_number_of_days: 7
    allowed_risk: 0.01
    stoploss_range_min: -0.01
    stoploss_range_max: -0.1
    stoploss_range_step: -0.01
    minimum_winrate: 0.6
    minimum_expectancy: 0.2
    min_trade_number: 10
    max_trade_duration_minute: 1440
    remove_pumps: false
  telegram:
    enabled: false
    token: ''
    chat_id: ''
  api_server:
    enabled: false
    listen_ip_address: 0.0.0.0
    listen_port: 8080
    username: admin
    password: secret123
  bot_name: freqtrade
  initial_state: running
  forcebuy_enable: false
  internals:
    process_throttle_secs: 5

image:
  tag: latest

backtesting:
  enabled: false
  download_data: true
  timerange:
  timeframes: 5m
  strategy_list: SampleStrategy
  fee:
  pvc_size: 1Gi
  results:
    enable_export: true
    reader_enabled: true
    pvc_size: 1Gi

bot:
  enabled: false
  strategy_name: SampleStrategy
  pvc_size: 1Gi

ingress:
  enabled: true

create_config_configmap: true
create_strategies_configmap: true

strategies: {}